<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
    <div>
        <h2>Please Login</h2>
        <br/>
    </div>
    <div>
        <h4><a th:href="@{/oauth2/authorization/google}">Login with Google</a></h4>
    </div>
    <div><p>OR</p></div>
    <form th:action="@{/login}" method="post">
        <input type="email" name="email" required class="form-control" placeholder="E-mail" /><br>
        <input type="password" name="password" required class="form-control" placeholder="Password" /><br>
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
</body>
</html>